@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.scrolling-div {
  overflow: hidden;
  position: relative;
  height: 90%; /* Adjust height as necessary */
  width: 50%; /* Adjust width as necessary */
}

.scroll-content {
  position: absolute;
  width: 100%;
  animation: scroll 2400s linear infinite; /* Adjust time as necessary */
}
